/* phone styles */
/* 483px */
@media (max-width: 767px) {
  #stats { padding: 40px 0px 50px;}

  #features { padding: 80px 24px 100px; }

  .btn.wapp {
    bottom: 15px !important;
    font-size: 40px !important;
    height: 50px !important;
    right: 15px !important;
    width: 50px !important;
  }

  nav .btn {
    padding: 10px 15px;
  }

  .btn.large {
    padding: 12px 30px;
  }
}
